<header class="header-content">
  <section class="header-section">
    <a class="logo-container" routerLink="">
      <div class="logo-wrap">
        <img class="image" src="../../assets/Image/Logo.svg" alt="Logo" />
      </div>
      <div class="logo-text-wrap">
        <img
          class="image"
          src="../../assets/Image/logo-text.svg "
          alt="Untitled UI"
        />
      </div>
    </a>

    <nav class="navbar" [ngClass]="{ active: isMenuOpen }">
      <ul class="nav-menu">
        <ng-container *ngFor="let menuItem of menuItems">
          <li class="nav-item" [ngClass]="{ dropdown: menuItem.submenuItems }">
            <a
              class="anchor-tag"
              [routerLink]="menuItem.routerLink"
              (click)="toggleDropdown(menuItem); $event.stopPropagation()"
            >
              {{ menuItem.label }}
              <img
                class="dropdown-icon"
                src="../../assets/Image/dropdownicon.svg"
                alt="Dropdown Icon"
                *ngIf="menuItem.submenuItems?.length"
              />
            </a>
            <ul class="dropdown-container" *ngIf="menuItem.showDropdown">
              <li
                class="dropdown-menu"
                *ngFor="let subMenuItem of menuItem.submenuItems"
              >
                <a
                  class="anchor-tag dropdown-item"
                  [routerLink]="subMenuItem.routerLink.toLowerCase()"
                  (click)="$event.stopPropagation()"
                >
                  {{ subMenuItem.label }}
                </a>
              </li>
            </ul>
          </li>
        </ng-container>
      </ul>
      <div class="cta-buttons">
        <a class="anchor-tag" routerLink="">Login</a>
        <app-button [buttonClass]="'signin-submit-btn btn btn-primary'"
          >Signup</app-button
        >
      </div>
    </nav>
  </section>

  <button class="nostyle-btn" aria-label="Menu" (click)="toggleMenu()">
    <img
      class="hamburger-icon"
      src="../../assets/Image/hamburgerIcon.svg"
      alt="Hamburger Icon"
    />
  </button>
</header>
