.searchfilter-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0px 16px 26px 16px;
  gap: 12px;
  margin-bottom: 26px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

.full-btn {
  width: 100%;
}

.filter-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.filter-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #6941c6;
  background: #f9f5ff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 10px 21px 10px 16px;
}

.filter-item > img {
  padding-right: 15px;
}
.profile-image-wrapper {
  width: 40px;
  height: 40px;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 200px;
}

.table {
  background: #ffffff;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 12px;
}

.table-heading {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #667085;
}

.progressive-bar {
  background: #f2f4f7;
  width: 69px;
  height: 8px;
  border-radius: 25px;
  background: #7f56d9;
}

.progressive-bar > span {
  width: 69px;
  height: 8px;
  border-radius: 25px;
}

tbody > tr:nth-child(2n + 1) {
  background: #f9fafb;
}

.table-titlebox {
  display: flex;
  gap: 12px;
  align-items: center;
}

.thead-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.table-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #101828;
}

.company-about {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #667085;
}

.company-info {
  color: #101828;
}

.status {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #027a48;
  background: #ecfdf3;
  border-radius: 16px;
  padding: 2px 8px;
}

.about-compeny {
  color: #101828;
}

th {
  padding: 13px 24px 13px 50px;
  text-align: left;
  border-bottom: 1px solid #eaecf0;
}

td {
  padding: 25px 0px 25px 50px;
  border-bottom: 1px solid #eaecf0;
}

.table-chechkbox {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  position: relative;
}

.thead-checkbox:checked::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../../../assets/userAvatar/checked.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.tbody-checkbox:checked::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../../../assets/userAvatar/unchecked.svg) no-repeat center /
    contain;
}

.table-chechkbox:checked {
  border: 2px solid purple;
}

.table-act-btn {
  display: flex;
  gap: 29px;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.avatars {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 30px;
  height: 30px;
  background: #f9f5ff;
  border-radius: 200px;
  text-align: center;
  margin-left: -10px;
  border: 1.5px solid #ffffff;
}

.img-avatar {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 200px;
}

.avatar-number {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #7f56d9;
  text-align: center;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 50px 16px 50px;
}

.pagination-btn {
  display: flex;
  gap: 12px;
}

.pagination-page {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
}

/* For tablet view: */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .login-container {
    align-items: start;
  }

  .heading-section {
    align-items: start;
    justify-content: center;
  }
}

/*------------- for laptop view:--------------- */

@media only screen and (min-width: 1024px) {
  .dashboard-heading-container {
    padding: 0px 16px 32px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dashboard-main {
    display: flex;
    overflow: hidden;
    margin: 44px 0px 0px 312px;
    width: calc(100%-312px);
    padding: 0px 32px 0px 32px;
  }

  .card-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  .searchfilter-wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0px 16px 26px 16px;
    gap: 12px;
  }

  .filter-container {
    flex-direction: row-reverse;
    align-items: center;
    gap: 12px;
  }

  .full-btn {
    width: auto;
  }

  .sidebar-logo {
    padding-top: 32px;
    margin-bottom: 24px;
  }
}